<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstaladorAutomatico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InstaladorAutomatico.Properties.Settings>
            <setting name="Configuração" serializeAs="String">
                <value />
            </setting>
            <setting name="CaminhoXML" serializeAs="String">
                <value>\\192.168.0.13\InstaladorAutomatico2\ArquivosInternos\Lista_de_Programas.xml</value>
            </setting>
            <setting name="DestinoCopia" serializeAs="String">
                <value>C:\TesteTI</value>
            </setting>
            <setting name="LocalUAC" serializeAs="String">
                <value>\\192.168.0.13\InstaladorAutomatico2\ArquivosInternos\DesabilitarUAC.bat</value>
            </setting>
        </InstaladorAutomatico.Properties.Settings>
    </applicationSettings>
</configuration>